.S-btn-selected {
    background-color: #6c757d !important; 
    color: white !important;
    border-color: #6c757d !important;
  }

  .M-btn-selected {
    background-color: #6c757d !important; 
    color: white !important;
    border-color: #6c757d !important;
  }

  .L-btn-selected {
    background-color: #6c757d !important; 
    color: white !important;
    border-color: #6c757d !important;
  }

  .XL-btn-selected {
    background-color: #6c757d !important; 
    color: white !important;
    border-color: #6c757d !important;
  }

  .XXL-btn-selected {
    background-color: #6c757d !important; 
    color: white !important;
    border-color: #6c757d !important;
  }